# Videogame Market Analysis

For this project I have used data about the video game industry from Kaggle (Video Game Sales with Ratings Video game sales from Vgchartz and corresponding ratings from Metacritic by Rush Kirubi https://www.kaggle.com/rush4ratio/video-game-sales-with-ratings), which was gathered from VGCHARTZ (http://www.vgchartz.com/gamedb/) and MetaCritic (https://www.metacritic.com/browse/games/release-date/available) using BeautifulSoup.
I will ask 3 meaningful questions which will help my stakeholder to have a better understanding of the gaming industry.

- Does Nintendo sell better than Xbox in Japan?
- Do action/shooter games sell better than sport games in the USA?
- Do users and critics give similar scores to PlayStation games?

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from datetime import datetime
from sklearn.linear_model import LogisticRegression

import statsmodels.api as sm
import statsmodels.stats.api as sms
import statsmodels.formula.api as smf
import scipy.stats as stats
from statsmodels.formula.api import ols

# display options
pd.set_option('display.max_columns', None)
sns.set(style='darkgrid')
# sns.set_context('poster')

In [2]:
df = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')
print(df.shape)
df.head()

(16719, 16)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Name               16717 non-null object
Platform           16719 non-null object
Year_of_Release    16450 non-null float64
Genre              16717 non-null object
Publisher          16665 non-null object
NA_Sales           16719 non-null float64
EU_Sales           16719 non-null float64
JP_Sales           16719 non-null float64
Other_Sales        16719 non-null float64
Global_Sales       16719 non-null float64
Critic_Score       8137 non-null float64
Critic_Count       8137 non-null float64
User_Score         10015 non-null object
User_Count         7590 non-null float64
Developer          10096 non-null object
Rating             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [4]:
df.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [5]:
# prepare to plot missing values
df_missing = df.isna().sum(axis=0).reset_index()
df_missing.columns = ['column_name', 'missing_count']
df_missing = df_missing.sort_values(by='missing_count')

In [6]:
# create a df cleaned from columns containing more than 50% NaN values
df_missing = (df.isna().sum()/len(df)).reset_index()
df_missing.columns = ['column','proportion']
df_missing = df_missing.sort_values(by = 'proportion')

missingvaluescols = df_missing[df_missing['proportion'] > 0.40].column.tolist()
df_clean = df.drop(missingvaluescols, axis=1)
df_clean.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Developer
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,Nintendo
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,Nintendo
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,Nintendo
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN

In [7]:
# check the difference between the original df and the cleaned df 
print(df.shape)
print(df_clean.shape)

(16719, 16)
(16719, 11)

In [8]:
# rename columns
# use integer for Year and Global sales columns
df = df.rename(columns={'Year_of_Release': 'Year', 'NA_Sales': 'USA', 'EU_Sales': 'EU', 'JP_Sales': 'JP', 'Other_Sales': 'Other', 'Global_Sales': 'Global'})
df = df[df['Year'].notnull()]
df = df[df['Genre'].notnull()]
df['Year'] = df['Year'].apply(int)
df['Global'] = df['Global'].apply(int)
df.head()

,Name,Platform,Year,Genre,Publisher,USA,EU,JP,Other,Global,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Also I am getting rid of the Developer column, because of the NaN values and because 
# I can use just the Publisher column
df = df.drop(columns=['Developer'])
df.head()

,Name,Platform,Year,Genre,Publisher,USA,EU,JP,Other,Global,Critic_Score,Critic_Count,User_Score,User_Count,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82,76.0,51.0,8,322.0,E
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35,82.0,73.0,8.3,709.0,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32,80.0,73.0,8,192.0,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31,NaN,NaN,NaN,NaN,NaN

In [10]:
# Dataset is from 2016 but contains unpublished games set to release until 2020, so I will drop unreleased games
# from dataset

df = df[df['Year'] <= 2016.0]
# sorted(df.Year.unique())

## Question 1

Xbox and Playstation are both very popular gaming platforms, but which one of them is the most popular one?
In order to anwer this question I will:

   - Set up my Hypothesis:

          h0 ==> no difference in the selling number   
          hA ==> there is a difference (Nintendo sells better)  

   - Also I choose my significance level as 0.05
   - I will use a T-test
   - Determine the p-value
   - Accept or reject the Null hypothesis

I decided to use a T-test, because with it I can compare two averages (means) if they are different from each other

At the moment my data has distinct platforms like PS, PS2, XB, Wii, and so on, so I will create a new column which indicates the general platform:

1 --> Playstation : [PS, PS2, PS3, PS4]

2 --> Xbox : [XB, X360, XOne]

3 --> PC : [PC]

4 --> Nintendo : [Wii, WiiU]

5 --> Portable : [GB, GBA, GC, DS, 3DS, PSP, PSV]

In [12]:
import library
# creating the Platform Category bins
df['PlatformCategory'] = df.Platform.apply(library.platforms)
df.head()

,Name,Platform,Year,Genre,Publisher,USA,EU,JP,Other,Global,Critic_Score,Critic_Count,User_Score,User_Count,Rating,PlatformCategory
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82,76.0,51.0,8,322.0,E,4
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40,NaN,NaN,NaN,NaN,NaN,5
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35,82.0,73.0,8.3,709.0,E,4
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32,80.0,73.0,8,192.0,E,4
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31,NaN,NaN,NaN,NaN,NaN,5

In [13]:
# Let's run a T-test
nin = df[df['PlatformCategory'] == 4]
xbox = df[df['PlatformCategory'] == 2]
p_value = stats.ttest_ind(xbox['JP'], nin['JP'])
p_value

Ttest_indResult(statistic=-8.07246090386077, pvalue=9.218897619927618e-16)

I can state that my T-statistic is -8.07246090386077, which is a significant difference, and my p-value is really low (after converting it --> 0.0000000000000009218897619927618), there for I can reject the Null Hypothesis, which states that there is no difference in sales numbers between Xbox and Nintendo platforms in Japan.