# Videogame Market Analysis

For this project I have used data about the video game industry from Kaggle (Video Game Sales with Ratings Video game sales from Vgchartz and corresponding ratings from Metacritic by Rush Kirubi https://www.kaggle.com/rush4ratio/video-game-sales-with-ratings), which was gathered from VGCHARTZ (http://www.vgchartz.com/gamedb/) and MetaCritic (https://www.metacritic.com/browse/games/release-date/available) using BeautifulSoup.
I will ask 3 meaningful questions which will help my stakeholder to have a better understanding of the gaming industry.

- Does Nintendo sell better than Xbox in Japan?
- Do action/shooter games sell better than sport games in the USA?
- Do users and critics give similar scores to PlayStation games?

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from datetime import datetime
from sklearn.linear_model import LogisticRegression

import statsmodels.api as sm
import statsmodels.stats.api as sms
import statsmodels.formula.api as smf
import scipy.stats as stats
from statsmodels.formula.api import ols

# display options
pd.set_option('display.max_columns', None)
sns.set(style='darkgrid')
# sns.set_context('poster')

In [2]:
df = pd.read_csv('../data/Video_Games_Sales_as_at_22_Dec_2016.csv')
print(df.shape)
df.head()

(16719, 16)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Name               16717 non-null object
Platform           16719 non-null object
Year_of_Release    16450 non-null float64
Genre              16717 non-null object
Publisher          16665 non-null object
NA_Sales           16719 non-null float64
EU_Sales           16719 non-null float64
JP_Sales           16719 non-null float64
Other_Sales        16719 non-null float64
Global_Sales       16719 non-null float64
Critic_Score       8137 non-null float64
Critic_Count       8137 non-null float64
User_Score         10015 non-null object
User_Count         7590 non-null float64
Developer          10096 non-null object
Rating             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [4]:
df.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [5]:
# prepare to plot missing values
df_missing = df.isna().sum(axis=0).reset_index()
df_missing.columns = ['column_name', 'missing_count']
df_missing = df_missing.sort_values(by='missing_count')

In [6]:
# create a df cleaned from columns containing more than 50% NaN values
df_missing = (df.isna().sum()/len(df)).reset_index()
df_missing.columns = ['column','proportion']
df_missing = df_missing.sort_values(by = 'proportion')

missingvaluescols = df_missing[df_missing['proportion'] > 0.40].column.tolist()
df_clean = df.drop(missingvaluescols, axis=1)
df_clean.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Developer
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,Nintendo
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,Nintendo
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,Nintendo
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN

In [7]:
# check the difference between the original df and the cleaned df 
print(df.shape)
print(df_clean.shape)

(16719, 16)
(16719, 11)

In [8]:
# rename columns
# use integer for Year and Global sales columns
df = df.rename(columns={'Year_of_Release': 'Year', 'NA_Sales': 'USA', 'EU_Sales': 'EU', 'JP_Sales': 'JP', 'Other_Sales': 'Other', 'Global_Sales': 'Global'})
df = df[df['Year'].notnull()]
df = df[df['Genre'].notnull()]
df['Year'] = df['Year'].apply(int)
df['Global'] = df['Global'].apply(int)
df.head()

,Name,Platform,Year,Genre,Publisher,USA,EU,JP,Other,Global,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Also I am getting rid of the Developer column, because of the NaN values and because 
# I can use just the Publisher column
df = df.drop(columns=['Developer'])
df.head()

,Name,Platform,Year,Genre,Publisher,USA,EU,JP,Other,Global,Critic_Score,Critic_Count,User_Score,User_Count,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82,76.0,51.0,8,322.0,E
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35,82.0,73.0,8.3,709.0,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32,80.0,73.0,8,192.0,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31,NaN,NaN,NaN,NaN,NaN

In [10]:
# Dataset is from 2016 but contains unpublished games set to release until 2020, so I will drop unreleased games
# from dataset

df = df[df['Year'] <= 2016.0]
# sorted(df.Year.unique())

## Question 1

Xbox and Playstation are both very popular gaming platforms, but which one of them is the most popular one?
In order to anwer this question I will:

   - Set up my Hypothesis:

          h0 ==> no difference in the selling number   
          hA ==> there is a difference (Nintendo sells better)  

   - Also I choose my significance level as 0.05
   - I will use a T-test
   - Determine the p-value
   - Accept or reject the Null hypothesis

I decided to use a T-test, because with it I can compare two averages (means) if they are different from each other

At the moment my data has distinct platforms like PS, PS2, XB, Wii, and so on, so I will create a new column which indicates the general platform:

1 --> Playstation : [PS, PS2, PS3, PS4]

2 --> Xbox : [XB, X360, XOne]

3 --> PC : [PC]

4 --> Nintendo : [Wii, WiiU]

5 --> Portable : [GB, GBA, GC, DS, 3DS, PSP, PSV]

In [14]:
import library
# creating the Platform Category bins
df['PlatformCategory'] = df.Platform.apply(library.platforms)
df.head()

ModuleNotFoundError: No module named 'library'

In [13]:
# Let's run a T-test
nin = df[df['PlatformCategory'] == 4]
xbox = df[df['PlatformCategory'] == 2]
p_value = stats.ttest_ind(xbox['JP'], nin['JP'])
p_value

KeyError: 'PlatformCategory'

I can state that my T-statistic is -8.07246090386077, which is a significant difference, and my p-value is really low (after converting it --> 0.0000000000000009218897619927618), there for I can reject the Null Hypothesis, which states that there is no difference in sales numbers between Xbox and Nintendo platforms in Japan.

In [ ]:
xbox = df['JP'][df['PlatformCategory'] == 4]
ps = df['JP'][df['PlatformCategory'] == 2]
x = ['Nintendo', 'Xbox']
y = [xbox.mean(), ps.mean()]

plt.figure(figsize=(8,8))
plt.bar(x, y, color = ('magenta', 'gold'))
plt.title('Nintendo vs Xbox sales in Japan')
plt.ylabel('Average Sales in millions of units')
plt.show()

# Conclusion to Question 1   
In Japan Nintendo is more popular than Xbox, but it might be interesting to make further explorations.

# Question 2

People like to think, that violent games cause aggressive behavior, however there are no studies linking violent video games to serious aggression. On the other hand, people think that sport activities reduce stress and good for relieving aggressive behavior. We can't answer to this "Shooter games ==> violent behavior" question, but let's find out if in USA shooter games sell better than sport games.

For this question let's state:

   - Our Hypothesis:

         h0 ==> no difference in sales revenue between shooter and sports games
         hA ==> there is a significant difference between shooter and sports games

   - Set my significance level as 0.05
   - I will use a Welch's T-test
   - Determine the p-value
   - Accept or reject the Null hypothesis

I decided to use Welch's T-test because I believe the number of shooter games might not be the same as the number of sports games, and when the sample sizes and sample variances between the two groups are NOT equal, the Welch's T-test gives more accurate p-value.

In [ ]:
import library

%load_ext autoreload
%autoreload 2

In [ ]:
shooter = df.loc[df['Genre']=='Shooter']['USA']
shooter = shooter.values
print(len(shooter))

sports = df.loc[df['Genre']=='Sports']['USA']
sports = sports.values
print(len(sports))

In [ ]:
type(shooter)

In [ ]:
# calculate t-score and the degrees of freedom for the two samples
t = library.welch_t(shooter, sports)
df = library.welch_df(shooter, sports)
print(t,df)

I have a p-value (0.000032159536640041786) much lower than my alpha (0.05), so I'm able to reject the Null Hypothsesis, which stated that the shooter games and sports games sell in the same number.

In [ ]:
# calculate Cohen's d
library.Cohen_d(shooter, sports)

In [ ]:
# calculate effect size
library.effect_size(shooter, sports)

Our two methods of evaluating effect size are consistent with each other and indicate a very low interaction between variables.

I'll try to redo part of the data cleaning.

In [ ]:
df = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

# prepare to plot missing values
df_missing = df.isna().sum(axis=0).reset_index()
df_missing.columns = ['column_name', 'missing_count']
df_missing = df_missing.sort_values(by='missing_count')

In [ ]:
# create a df cleaned from columns containing more than 50% NaN values
df_missing = (df.isna().sum()/len(df)).reset_index()
df_missing.columns = ['column','proportion']
df_missing = df_missing.sort_values(by = 'proportion')

In [ ]:
missingvaluescols = df_missing[df_missing['proportion'] > 0.40].column.tolist()
df_clean = df.drop(missingvaluescols, axis=1)

In [ ]:
df = df.drop(columns=['Developer'])

In [ ]:
# rename columns
# use integer for Year and Global sales columns
df = df.rename(columns={'Year_of_Release': 'Year', 'NA_Sales': 'USA', 'EU_Sales': 'EU', 'JP_Sales': 'JP', 'Other_Sales': 'Other', 'Global_Sales': 'Global'})
df = df[df['Year'].notnull()]
df = df[df['Genre'].notnull()]
df['Year'] = df['Year'].apply(int)
df['Global'] = df['Global'].apply(int)

df = df[df['Year'] <= 2016.0]
df.head()

In [ ]:
# plot the average number of Shooter and Sports games sales

shooter = df['USA'][df['Genre'] == 'Shooter']
sports = df['USA'][df['Genre'] == 'Sports']
x = ['Shooter', 'Sports']
y = [shooter.mean(), sports.mean()]

plt.figure(figsize=(6,6))
plt.bar(x, y, color = ('grey', 'darkblue'))
plt.title('Total number of sales of Shooter and Sports Games in USA')
plt.ylabel('Average Number of Sales in millions of units')
plt.show()

In [ ]:
#sales by region by genre
dfplot = df.groupby('Genre', as_index = False).sum().sort_values(by = 'Global', ascending = False)
region = ['USA','EU','JP','Other','Global']

fig, axes = plt.subplots(nrows = len(region), ncols = 1, figsize = (15,10))
plt.tight_layout()
plt.suptitle('Sales by Region by Genre', fontsize = 20, y = 1.05)

for i, r in enumerate(region):
    sns.barplot(y = r , x = 'Genre' , data = dfplot,  orient='v' , ax= axes[i])
# dfplot.head()

## Conclusion

As shown from our low p-value, there is a significant difference in number of sales of Shooter and Sports games, and by the visualization we can see the difference in average number of sales. The average number of sales shows that Shooter games sell better, but in the big picture more Sports games(2306) were sold, than Shooter games(1296).

# Question 3: Do Users and Critics give similar scores?

For this question let's state:

Our Hypothesis:  
 h0 ==> Users and Critics scores are equal  
 hA ==> Users and Critics give different scores  
Set my significance level as 0.05  
I will use a Welch's T-test  
Determine my p-value

I'll begin by creating a new DataFrame clean of any NaN values, but keeping the Critic_Score, Critic_Count, User_Score and User_Count columns.

In [ ]:
df_3 = df.dropna()
print(len(df))
print(len(df_3))

In [ ]:
# check Datatypes
df_dtype = df_3.dtypes.reset_index()
df_dtype.columns = ['Count', 'Column Type']
df_dtype

In [ ]:
# create critics and users series for critic and user score
critics = df.Critic_Score.values
print(len(critics))

users = df.User_Score.values
type(len(users))

In [ ]:
df.User_Score.unique()

In [ ]:
# get rid of the tbd and NaN values
# plot the distr
sns.distplot(df.loc[df.User_Score != 'tbd'].User_Score.dropna().astype('float32'))

In [ ]:
df_3.User_Score = df_3.User_Score.astype(float)

In [ ]:
sns.distplot(df_3.Critic_Score);
sns.distplot(np.array(df_3.User_Score)/0.10);

In [ ]:
sns.distplot(df_3.User_Score)

In [ ]:
sns.distplot(df_3.Critic_Score)

In [ ]:
critics = df_3.Critic_Score
print(len(critics))

users = df_3.User_Score
print(type(users))
print(len(users))

In [ ]:
# calculate t-score and the degrees of freedom for the two samples
t = library.welch_t(critics, users)
df = library.welch_df(critics, users)
print(t,df)

In [ ]:
# calculate p_value
library.p_value(critics, users)

In [ ]:
# calculate Cohen's d
library.Cohen_d(critics, users)

In [ ]:
# creating functions for getting random samples
def get_sample(data, n):
    sample = []
    while len(sample) != n:
        x = np.random.choice(data)
        sample.append(x)
    return sample

In [ ]:
# creating functions for quick calculations on samples
def get_sample_mean(sample):
    return sum(sample) / len(sample)
def create_sample_distribution(data, dist_size=100, n=50):
    sample_dist = []
    while len(sample_dist) != dist_size:
        sample = get_sample(data, n)
        sample_mean = get_sample_mean(sample)
        sample_dist.append(sample_mean)
    return sample_dist
def sample_variance(sample):
    sample_mean = np.mean(sample)
    return np.sum((sample - sample_mean) **2)/ (len(sample) -1)

In [ ]:
# check for normality - critics
critics_sample=create_sample_distribution(df_3.Critic_Score)
stats.normaltest(critics_sample)

In [ ]:
# check for normality - users
users_sample = create_sample_distribution(df_3.User_Score)
stats.normaltest(users_sample)

In [ ]:
# Stardardizing and visualizing distributions
sns.distplot([(x - df_3.Critic_Score.mean())/df_3.Critic_Score.std() for x in df_3.Critic_Score]);
sns.distplot([(x - df_3.User_Score.mean())/df_3.User_Score.std() for x in df_3.User_Score]);

In [ ]:
# find the p-value for our sample data
p_value = stats.ttest_ind(np.array(critics_sample)/100, np.array(users_sample)/10)
p_value

We have an extremely low p-value, which means we can reject our Null Hypothesis, stating that the critics and the users give similar scores.

In [ ]:
critics_variance = sample_variance(critics_sample)
critics_mean = np.mean(np.array(critics_sample)/100)
print("critics sample mean is", critics_mean)
print("critics sample variance is", critics_variance)

In [ ]:
users_variance = sample_variance(users_sample)
users_mean = np.mean(np.array(users_sample)/10)
print("users sample mean is", users_mean)
print("users sample variance is", users_variance)

# Conclusion to Question 3:

I have a tried multiple T-tests on a sample data and on population data, and have obtained a p-value less than 0.05, so I can reject the Null Hypothesis and safely say that users and critics give similar scores.